<template>
    <div id="channelList">
        <h3>Channel</h3>
        <div class="card-deck">
            <channel-card />
            <channel-card />
            <channel-card />
            <channel-card />
            <channel-card />
            <channel-card />
            <channel-card />
            <channel-card />
            <channel-card />
            <channel-card />
            <channel-card />
        </div>
        <div>
            Pagination Elements
        </div>
    </div>
</template>

<script src="./list.ts"></script>