@if (!ViewData.ModelState.IsValid)
{
	@if (ViewData.ModelState.Keys.Contains("Exists") && ViewData.ModelState["Exists"].Errors.Count > 0)
	{
    	<div class="alert alert-danger">
        	@ViewData.ModelState["Exists"].Errors.First().ErrorMessage
    	</div>
	}
}