<template>
    <div id="channelDetail">
        <header>
			<h3>{{ channel.name }}</h3>
            <div class="row">
				<div class="col" id="details">
					<router-link :to="{ name: 'channel-editor', query: { id: `${channel.channelId}` } }">
						<i data-feather="edit"></i>Edit channel
					</router-link>
					<a class="text-danger" @click="deleteChannel()"><i data-feather="trash-2"></i>Delete Channel</a>
					<hr />
					<ul class="list-unstyled">
						<li v-if="channel.broadcasterName"><i data-feather="radio"></i> {{ channel.broadcasterName }}</li>
                        <li v-if="channel.opened"><i data-feather="calendar"></i> <b>Opened:</b> {{ channel.opened }}</li>
                        <li v-if="channel.closed"><i data-feather="calendar"></i> <b>Closed:</b> {{ channel.closed }}</li>
					</ul>
				</div>
            </div>
        </header>
		<hr />
		<div>
			<h5>Programmes</h5>
			<div>
				<pagination-item v-bind:pg="pagination" @changePage="changePage"/>
			</div>
			<div class="card-columns" v-if="programmes">
				<programme-card v-for="programme in programmes" v-bind:p="programme"/>
			</div>
			<div>
				<pagination-item v-bind:pg="pagination" @changePage="changePage"/>
			</div>
		</div>
    </div>
</template>

<script src="./detail.ts"></script>