<template>
    <div id="channelDetail">
        <header>
            <div>
                <h3>channel name</h3>
                <i data-feather="radio"></i><span>broadcaster</span>
                <i data-feather="calendar"></i><span>opened</span>
                <i data-feather="calendar"></i><span>closed</span>
            </div>
        </header>
        <br />
        <div class="card-deck">
            <programme-card />
            <programme-card />
            <programme-card />
            <programme-card />
            <programme-card />
            <programme-card />
        </div>
        <div>
            Pagination Elements
        </div>
    </div>
</template>

<script src="./detail.ts"></script>