<template>
    <div id="tracklistList">
        <h3>Tracklists</h3>
        <router-link to="/tracklist/editor" :exact="true">
            <i data-feather="plus"></i>Create new list
        </router-link>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Artist</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>Artist</td>
                    <td>
                        <router-link to="/tracklist/1">
                            <i data-feather="info"></i>
                        </router-link>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script src="./list.ts"></script>