<template>
    <div id="sampleUpload">
        <h3>Sample Upload</h3>
        <div>
            <div class="form-group">
                <label for="sampleUpload">Sample Upload</label>
                <input type="file" class="form-control-file" name="sampleUpload" id="sampleUpload" placeholder="Select file to scan" aria-describedby="fileHelpId-sampleUpload">
                <small id="fileHelpId-sampleUpload" class="form-text text-muted">Help text</small>
            </div>
            <div class="btn-group" role="group">
                <button id="play" class="btn btn-outline-secondary"><i data-feather="play"></i></button>
                <button id="stop" class="btn btn-outline-secondary"><i data-feather="square"></i></button>
                <button id="delete" class="btn btn-outline-danger"><i data-feather="trash-2"></i></button>
            </div>
            <div class="form-group">
              <label for="track">Track</label>
              <select class="form-control" name="track" id="track">
                <option></option>
                <option></option>
                <option></option>
              </select>
            </div>
            <div>
                <span>WAVEFORM</span>
                <span>SPECTOGRAPH</span>
            </div>
            <div class="row">
                <div class="col">
                    <dl>
                        <dt>Fingerprint</dt>
                        <dd>{{ fingerprint }}</dd>
                    </dl>
                    <dl>
                        <dt>Sample Rate</dt>
                        <dd>{{ rate }}</dd>
                    </dl>
                    <dl>
                        <dt>Sample Count</dt>
                        <dd>{{ count }}</dd>
                    </dl>
                    <dl>
                        <dt>Bit Rate</dt>
                        <dd>{{ bitRate }}</dd>
                    </dl>
                    <dl>
                        <dt>Bit Rate Mode</dt>
                        <dd>{{ bitRateMode }}</dd>
                    </dl>
                    <dl>
                        <dt>Bit Depth</dt>
                        <dd>{{ bitDepth }}</dd>
                    </dl>
                    <dl>
                        <dt>Codec</dt>
                        <dd>{{ coded }}</dd>
                    </dl>
                    <dl>
                        <dt>Compression</dt>
                        <dd>{{ compression }}</dd>
                    </dl>
                </div>
                <div class="col">
                    <textarea>Notes</textarea>
                </div>
            </div>

            <hr />
            <button type="button" class="btn btn-danger" @click="$router.back()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</template>

<script src="./upload.ts"></script>