@page
@model BeepBong.Web.Pages.Samples.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sample</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sample.SampleId" />
            <div class="form-group">
                <label asp-for="Sample.Notes" class="control-label"></label>
                <!-- <input asp-for="Sample.Notes" class="form-control" /> -->
                <textarea asp-for="Sample.Notes" class="form-control"></textarea>
                <span asp-validation-for="Sample.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Tracks/Details" asp-route-id="@Model.Sample.TrackId">Return to Track Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
