@page
@model BeepBong.Web.Pages.ExportModel

@{
    ViewData["Title"] = "Data Export";
}

<h1>Data Export</h1>
<hr />
<form method="post">
    <div>
        <label for="ImageInclude">Include Images</label>
        <input name="ImageInclude" type="checkbox" />
    </div>
    <input class="btn btn-primary" type="submit" asp-page-handler="Download" value="Recieve XML Data" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}