@page
@model BeepBong.Web.Pages.Programmes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Programme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Programme.Name" class="control-label"></label>
                <input asp-for="Programme.Name" class="form-control" />
                <span asp-validation-for="Programme.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programme.Year" class="control-label"></label>
                <input asp-for="Programme.Year" class="form-control" />
                <span asp-validation-for="Programme.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programme.Channel" class="control-label"></label>
                <input asp-for="Programme.Channel" class="form-control" />
                <span asp-validation-for="Programme.Channel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programme.AudioComposer" class="control-label"></label>
                <input asp-for="Programme.AudioComposer" class="form-control" />
                <span asp-validation-for="Programme.AudioComposer" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Programme.IsLibraryMusic" /> @Html.DisplayNameFor(model => model.Programme.IsLibraryMusic)
                </label>
            </div>
			<!-- <div>
				<label asp-for="Programme.Logo"></label>
				<input asp-for="Programme.Logo" accept="image/png, image/jpeg" />
			</div> -->
			<div class="form-group">
				<label asp-for="Programme.Logo"></label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroupFileAddon01">
							<svg class="i"><use xlink:href="#i-photo" /></svg>
						</span>
					</div>
					<div class="custom-file">
						<input class="custom-file-input" asp-for="Programme.Logo" accept="image/png, image/jpeg" aria-describedby="inputGroupFileAddon01" onchange="updateLabel()"/>
						<label class="custom-file-label" id="Programme_Logo_Label">Choose file...</label>
					</div>
					<!-- <input class="btn btn-primary" type="file" id="input"> -->
				</div>
			</div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
	<script>
		function updateLabel() {
			var input = document.getElementById('Programme_Logo');
			
			if (input.files.length > 0)
			{
				document.getElementById('Programme_Logo_Label').innerText = input.files[0].name;
			}
		}
	</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
