@page
@model BeepBong.Web.Pages.Programmes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Programme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Programme.ProgrammeId" />
            <div class="form-group">
                <label asp-for="Programme.Name" class="control-label"></label>
                <input asp-for="Programme.Name" class="form-control" />
                <span asp-validation-for="Programme.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programme.Year" class="control-label"></label>
                <input asp-for="Programme.Year" class="form-control" />
                <span asp-validation-for="Programme.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programme.Channel" class="control-label"></label>
                <input asp-for="Programme.Channel" class="form-control" />
                <span asp-validation-for="Programme.Channel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programme.AudioComposer" class="control-label"></label>
                <input asp-for="Programme.AudioComposer" class="form-control" />
                <span asp-validation-for="Programme.AudioComposer" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Programme.IsLibraryMusic" /> @Html.DisplayNameFor(model => model.Programme.IsLibraryMusic)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
