<template>
    <div id="channel-card">
        <div class="card mb-4" style="min-width: 28rem;">
            <img class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">{{ c.name }}</h5>
                <div class="card-text">
                    <ul class="list-unstyled">
                        <li v-if="c.opened"><i data-feather="calendar"></i> <b>Opened:</b> {{ c.opened }}</li>
                        <li v-if="c.closed"><i data-feather="calendar"></i> <b>Closed:</b> {{ c.closed }}</li>
                        <li v-if="c.programmeCount"><i data-feather="mic"></i> {{ c.programmeCount }} {{ c.programmeCount == 1 ? "Programme" : "Programmes" }}</li>
                    </ul>
                </div>
            </div>
            <div class="card-footer">
                <div class="float-right" v-if="c.broadcasterName">
                    <span class="text-muted"><i data-feather="radio"></i> {{ c.broadcasterName }}</span>
                </div>
                <div class="float-left">
                    <!-- <a>
                        <i data-feather="edit"></i>
                    </a> | -->
                    <router-link :to="{ name: 'channel-detail', params: { id: `${c.channelId}` } }">
                        <i data-feather="info"></i>
                    </router-link> <!-- |
                    <a>
                        <i data-feather="trash-2"></i>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./ccard.ts"></script>