<template>
    <div id="programmeList">
        <h3>Programmes</h3>
        <div class="card-deck">
            <programme-card />
            <programme-card />
            <programme-card />
            <programme-card />
            <programme-card />
            <programme-card />
            <programme-card />
            <programme-card />
            <programme-card />
            <programme-card />
            <programme-card />
        </div>
        <div>
            Pagination Elements
        </div>
    </div>
</template>

<script src="./programmelist.ts"></script>