<template>
    <div id="programme-card">
        <div class="card mb-4" style="min-width: 21rem;">
            <img class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">{{ p.name }}</h5>
                <div class="card-text">
                    <p>
                        <i data-feather="calendar"></i> {{ p.airDate }}<br />
                        <i data-feather="tv"></i> {{ p.channel }}
                        <i data-feather="music"></i><span> {{ p.trackCount }} {{ p.trackCount == 1 ? "Track" : "Tracks" }}</span>
                    </p>
                </div>
            </div>
            <div class="card-footer">
                <div class="float-right" v-if="p.containsLibrary">
                    <span class="text-left text-muted"><i data-feather="book"></i> Contains Library Music</span>
                </div>
                <div class="float-left">
                    <!-- <a><i data-feather="edit"></i></a> -->
                    <router-link :to="{ name: 'programme-detail', params: { id: `${p.programmeId}` } }">
                        <i data-feather="info"></i>
                    </router-link>
                    <!-- <a><i data-feather="trash-2"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./pcard.ts"></script>