<template>
    <div id="broadcasterList">
        <h3>Broadcasters</h3>
        <router-link to="/broadcaster/editor">
            <i data-feather="plus"></i>Create new Broadcaster
		</router-link>
		<hr />
        <div>
            <pagination-item v-bind:pg="pagination" @changePage="changePage"/>
        </div>
        <div class="card-deck">
            <broadcaster-card v-for="broadcaster in broadcasters" v-bind:b="broadcaster"/>
        </div>
        <div>
            <pagination-item v-bind:pg="pagination" @changePage="changePage"/>
        </div>
    </div>
</template>

<script src="./list.ts"></script>