<template>
    <div id="broadcasterList">
        <h3>Broadcasters</h3>
        <router-link to="/broadcaster/editor">
            <i data-feather="plus"></i>Create new Broadcaster
        </router-link>
        <div class="card-deck">
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
        </div>
        <div>
            Pagination Elements
        </div>
    </div>
</template>

<script src="./list.ts"></script>