<template>
    <div id="broadcasterList">
        <h3>Broadcasters</h3>
        <div class="card-deck">
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
            <broadcaster-card />
        </div>
        <div>
            Pagination Elements
        </div>
    </div>
</template>

<script src="./list.ts"></script>