<template>
    <div id="bcard">
        <div class="card mb-4" style="min-width: 28rem;">
            <img class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">{{ b.name }}</h5>
                <div class="card-text">
                    Details
                </div>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <span class="text-muted"><i data-feather="flag"></i> {{ b.country }}</span>
                </div>
                <div class="float-left">
                    <router-link :to="b.broadcasterId" append>
                        <i data-feather="info"></i>
                    </router-link> |
                    <a>
                        <i data-feather="trash-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./bcard.ts"></script>