<template>
    <div id='app-root'>
        <nav class="navbar navbar-dark fixed-top flex-md-nowrap bg-dark p-0 shadow">
            <div class="col-sm-2 navbar-brand" href="#">
                <i data-feather="menu"></i>
                <span>BeepBong</span>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <menu-component />
                </div>
                <div class="col-sm-10">
                    <div role="main">
                        <div style="padding-top: 0.5em">
                            <router-view></router-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./app.ts"></script>
