<template>
    <div id="tracklistDetail">
        <router-link to="/tracklist/editor?id=1">
            <i data-feather="edit"></i>Edit list
        </router-link>
        <div v-if="tracklist">
            <tracklist v-bind:tl="tracklist" />
        </div>
        <hr />
        <h5>Associated Programmes</h5>
        <div class="card-deck">
            <!-- <programme-card />
            <programme-card />
            <programme-card />
            <programme-card /> -->
        </div>
    </div>
</template>

<script src="./detail.ts"></script>