<template>
    <div id="broadcastChannels">
        <header>
            <span>Name</span>
            <i data-feather="flag"></i><span>Country</span>
            <i data-feather="calendar"></i><span>Opened</span>
            <i data-feather="calendar"></i><span>Closed</span>
        </header>
        <router-link to="/broadcaster/editor?id=1">
            <i data-feather="edit"></i>Edit Broadcaster
        </router-link>
        <div>
            <h5>Channels</h5>
            <div class="card-deck">
                <channel-card />
                <channel-card />
                <channel-card />
                <channel-card />
                <channel-card />
                <channel-card />
                <channel-card />
                <channel-card />
                <channel-card />
                <channel-card />
                <channel-card />
            </div>
            <div>
                Pagination Elements
            </div>
        </div>
    </div>
</template>

<script src="./detail.ts"></script>