<template>
    <div id="broadcastChannels">
        <header>
			<h3>{{ broadcaster.name }}</h3>
			<div class="row">
				<div class="col-sm-3" id="details">
					<router-link :to="{ name: 'broadcaster-editor', query: { id: `${broadcaster.broadcasterId}` }}">
						<i data-feather="edit"></i>Edit Broadcaster
					</router-link>
					<a class="text-danger" @click="deleteBroadcaster()"><i data-feather="trash-2"></i>Delete Broadcaster</a>
					<hr />
					<ul class="list-unstyled">
						<li v-if="broadcaster.country"><i data-feather="flag"></i> {{ broadcaster.country }}</li>
					</ul>
				</div>
				<div class="col-sm-9" id="image">
					<img v-if="broadcaster.imageId" class="image-fluid" :src="'/api/Image/' + `${broadcaster.imageId}`" width="auto" height="360px"/>
				</div>
			</div>
        </header>
        <hr />
        <div>
            <h5>Channels</h5>
            <div>
                <pagination-item v-bind:pg="pagination" @changePage="changePage"/>
            </div>
            <div class="card-deck">
                <channel-card v-if="channels" v-for="channel in channels" v-bind:c="channel" />
            </div>
        </div>
    </div>
</template>

<script src="./detail.ts"></script>